<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tyuiu.BilousEYu.Sprint7.Project.V9.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tyuiu.BilousEYu.Sprint7.Project.V9.Tyuiu.BilousEYu.Sprint7.Project.V9.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tyuiu.BilousEYu.Sprint7.Project.V9.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tyuiu.BilousEYu.Sprint7.Project.V9.Settings>
            <setting name="VideoPosition" serializeAs="String">
                <value>0</value>
            </setting>
        </Tyuiu.BilousEYu.Sprint7.Project.V9.Settings>
        <Tyuiu.BilousEYu.Sprint7.Project.V9.Tyuiu.BilousEYu.Sprint7.Project.V9.Properties.Settings>
            <setting name="VideoPosition" serializeAs="String">
                <value>0</value>
            </setting>
        </Tyuiu.BilousEYu.Sprint7.Project.V9.Tyuiu.BilousEYu.Sprint7.Project.V9.Properties.Settings>
        <Tyuiu.BilousEYu.Sprint7.Project.V9.Settings1>
            <setting name="Sherlock" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
        </Tyuiu.BilousEYu.Sprint7.Project.V9.Settings1>
    </userSettings>
</configuration>